<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
	                       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	                       http://www.springframework.org/schema/tx
	                       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	                       http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.pengfei.inheritence.Controller,
                                          com.pengfei.inheritence.Dao.DaoImpl,
                                          com.pengfei.inheritence.Service.ServiceImpl,
                                          com.pengfei.inheritence.domain"/>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close"
          p:driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
          p:jdbcUrl="jdbc:sqlserver://localhost;databaseName=singletable_inheritence;instanceName=SQLEXPRESS"
          p:user="sa"
          p:password="1Qaz2wsx3edc"
          p:maxPoolSize="40"
          p:minPoolSize="2"
          p:initialPoolSize="2"
          p:maxIdleTime="30"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
    >
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>com.pengfei.inheritence.domain.Person</value>
                <value>com.pengfei.inheritence.domain.Employee</value>
                <value>com.pengfei.inheritence.domain.Manager</value>
                <value>com.pengfei.inheritence.domain.Customer</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <!--<prop key="hibernate.current_session_context_class">-->
                <!--thread-->
                <!--</prop>-->
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLServer2005Dialect</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>

    <tx:advice id="txAdvice"
               transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>
    <!-- AOP配置的元素 -->
    <aop:config>
        <aop:pointcut id="myPointcut"
                      expression="execution(* com.pengfei.inheritence.Dao.DaoImpl.*.*(..))"/>
        <!-- 指定在myPointcut切入点应用txAdvice事务增强处理 -->
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="myPointcut"/>
    </aop:config>
</beans>